@import "~mixins.scss";

.pagination-select {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &, * {
    box-sizing: border-box;
  }

  .pagination-select__next-btn,
  .pagination-select__prev-btn {
    display: flex;
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    transition: .3s;
    cursor: pointer;
    outline: none !important;

    .fill-svg {
      fill: $clrDarkPurple;
    }

    &.disabled {
      opacity: .2;
    }
  }

  .pagination-select__next-btn {
    margin: 0 4px 0 18px;
  }

  .pagination-select__prev-btn {
    margin: 0 18px 0 4px;
  }

  .pagination-select__page-dots {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: none;
    padding: 0;

    &.disabled {
      .pagination-select__page-dot {
        background: $clrLightGrey !important;
      }
    }
  }

  .pagination-select__page-dot {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: none;
    padding: 0;
    width: 10px;
    height: 10px;

    background: transparent;
    transition: .3s;
    cursor: pointer;
    outline: none !important;

    &:before {
      content: ' ';
      display: block;
      margin: 0;
      border: none;
      border-radius: 50%;
      padding: 0;
      width: 6px;
      height: 6px;

      background: $clrLightGrey;
      transition: .3s;
    }

    &.active {
      &:before {
        background: $clrDarkPurple;
      }
    }
  }
}
